.gallery {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 50px 0px;
  padding: 50px 200px;
}
.gallery h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
.text {
  display: flex;
  flex-direction: column;
}
.text p {
  font-family: Montserrat, sans-serif;
  margin: 10px 0;
  font-size: 15px;
  padding-right: 20px;
}

/* gallery panel */
.gallery-panel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s ease;
}
.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.sliders:hover {
  cursor: pointer;
}
.sliders {
  font-size: 30px;
  color: #a5a58d;
}
#slider {
  width: 300px;
}
@media only screen and (max-width: 1150px) {
    .gallery {
        padding: 0 100px;
    }
}
@media (max-width: 800px) {
  .gallery h1 {
    font-size: 30px;
  }
  .text p {
    font-size: 15px;
  }
  #slider {
    width: 200px;
  }
}
@media (max-width: 700px) {
    .gallery-panel {
        flex-wrap: wrap;
    }
    .gallery .text {
        text-align: center;
    }
}
