nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    font-family: 'Vollkorn', serif;
    color: #a5a58d;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    color: #a5a58d;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.logo a {
    text-decoration: none;
    color: #a5a58d;
}


nav ul {
    display: flex;
    margin: 0 -10px;
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
nav li {
    margin: 0 10px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}
.nav-links li {
    list-style: none;
    display: inline-block;
}
.nav-links a {
    color:#a5a58d;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
}
.nav-links a:hover {
    color:#c2c2a3;
}

.menu-btn {
    display: none;
    font-size: 20px;
    color: #a5a58d;
    margin-top: 30px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    nav {
        padding: 0;
    }
    #hidden {
        position: fixed;
        height: 40vh;
        width: 100%;
        padding: 0;
        top: 0;
        background: #a5a58d;
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
    }
    .menu-btn {
        display: flex;
        z-index: 999;
        color:#a5a58d;
        margin: auto;
    }
    #showmenu {
        color: #fff;
    }
    nav li {
        display: none;
        margin: 10px;
        color: #fff;
    }
    nav ul {
        font-size: 20px;
        font-weight: 300;
    }
    .logo {
        display: none;
    }
}