nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: #fff;
    font-family: 'Vollkorn', serif;
    color: #a5a58d;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    color: #a5a58d;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.logo a {
    text-decoration: none;
    color: #a5a58d;
}


nav ul {
    display: flex;
    margin: 0 -10px;
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
nav li {
    margin: 0 10px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}
.nav-links li {
    list-style: none;
    display: inline-block;
}
.nav-links a {
    color:#a5a58d;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
}
.nav-links a:hover {
    color:#c2c2a3;
}

@media (max-width: 1200px) {
    .nav-links {
        height: 60vh;
        display: block;
        width: 100vh;
        text-align: center;
        background-color:#a5a58d;
        margin: 0;
        padding: 0;
        padding-top: 100px;
    }
    nav li {
        display: block;
        margin: 20px;
        color: #fff;
    }
    nav ul {
        font-size: 20px;
        font-weight: 300;
    }
    .logo {
        display: none;
    }
}
