.recipe {
    background-color: #f2f3ee;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recipe h1 {
    color: #e8a67e;
    margin-bottom: 0;
    font-size: 90px;
}
.recipeLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.recipeRight img {
    width: 500px;
}
#time {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;
}
.recipe .description {
    justify-self: end;
}
.recipe p {
    font-family: Montserrat, sans-serif;
}
.rec.max-width {
    padding: 0 200px;
}

/* ingredients & instructions */
.recipe-panel li {
    font-family: Montserrat, sans-serif;
    margin: 4px 0px;
}
.recipe-panel {
    background-color: #f2f3ee;
    margin: 20px 0px;
}
.recipe-panel ul {
    list-style: circle;
}
.ingredients {
    padding: 20px;
}
.instructions {
    padding: 20px;
}

@media only screen and (max-width: 1500px) {
    .recipeRight img {
        width: 400px;
    }
    .recipe h1 {
        font-size: 80px;
    }
    .recipe {
        text-align: center;
    }
    .recipeLeft {
        width: 100%;
    }
    .recipeRight {
        margin: auto;
    }
}
@media only screen and (max-width: 950px) {
    .recipeRight img {
        width: 300px;
    }
    
    .recipe {
        padding: 10px;
    }
}
@media only screen and (max-width: 800px) {
    .rec.max-width {
        padding: 0px 50px;
    }
}
@media only screen and (max-width: 700px) {
    .recipeRight img {
        width: 300px;
    }
    .recipe {
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
      
}
@media only screen and (max-width: 500px) {
    .recipeRight img {
        width: 300px;
    }
    .recipe h1 {
        font-size: 40px;
    }
    .recipe {
        width: 90%;
        padding: 20px;
    }
    .recipesPage .max-width {
        padding: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .recipeRight img {
        width: 200px;
    }
} 


